*{
    box-sizing: border-box;
}
.forms-wrapper{
    display: flex;
    align-content: space-between;
    
}
.contract-form-wrapper{
    width: 50%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 10%;
    padding: 20px;
}
.contract-view-wrapper{
    width: 50%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 10%;
    
}
input{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;

}
label{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
}